html {
	height: 100%;
	margin: auto;
}

body {
	background-color:#225577;
	height: 100%;
	margin: auto;
	
}

h1 {
	text-align:center; 
	font-family:'Courier New';
}

p {
	text-align:center; 
	font-family:'Courier New';
}

.buttonContainer {
	display:block;
	text-align:center;
}

.gameButton {
	width:315px;
	height:75px;
}

.mainBody {
	background-color: #3399CC;
	width: 80%;
	height: 90%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	border: 3px solid #2277AA;
	padding: 10px;
}