body {
	background-color:#55AAFF;
}

h1 {
	text-align:center; 
	font-family:'Courier New';
}

p {
	text-align:center; 
	font-family:'Courier New';
}

.buttonContainer {
	display:block;
	text-align:center;
}

.gameButton {
	width:150px;
	height:100px;
}