html {
	height: 100%;
	margin: auto;
}

body {
	background-color:#225577;
	height: 100%;
	margin: auto;
	
}

h1 {
	text-align:center; 
	font-family:'Courier New';
}

p {
	text-align:center; 
	font-family:'Courier New';
}

#buttonContainer {
	text-align:center;
}

.gameButton {
	display: inline-block;

	color: #FFFFFF;
	font-size: 200%;
	text-align: center;
	font-family:'Courier New';
	text-decoration: none;

	border-style: double;
	border-color: #004477;
	border-width: thick;

	margin: 1%;
	padding: 0.5%;
	padding-left: 3%;
	padding-right: 3%;
}

.gameButton:hover {
	border-color: #116699;
}

#mainBody {
	background-color: #3399CC;
	width: 80%;
	height: 90%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	border: 3px solid #2277AA;
	padding: 10px;
}