html {
    /* I hate css */
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #000000;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#gameContainer {
    display: block;

    /* Center the gameContainer */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* White border */
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;

    /* Sizing */
    width: 90%;
    height: 90%
}

#gameCanvas {
    /* Fit the canvas inside the container */
    width: 100%;
    height: 100%;
}